<div class="row">
    <div class="col-sm-4">
      <div class="row1">
          <div class="col-sm-4">
                <div id="chartdata">
                  Chart Values Here Will be Here
                </div>
          </div>
          <div class="col-sm-8">
                <div id="chart1div" [style.width.%]="100" [style.height.px]="200"></div>
          </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
          <div class="col-sm-4">
                <div id="chartdata">
                  Chart Values Here Will be Here
                </div>
          </div>
          <div class="col-sm-8">
                <div id="chart2div" [style.width.%]="100" [style.height.px]="200"></div>
          </div>
      </div>
    </div>

    <div class="col-sm-4">
       <div class="row">
          <div class="col-sm-4">
                <div id="chartdata">
                  Chart Values Here Will be Here
                </div>
          </div>
          <div class="col-sm-8">
                <div id="chart3div" [style.width.%]="100" [style.height.px]="200"></div>
          </div>
      </div>
    </div>
</div>
<!--DB Team Overview ends here -->

<div class="row2">
    <!--menu section-->
    <div class="col-xs-2 col-sm-2 col-md2-col-lg-2" style="background-color:#106cc8; color:#d0d5da; height:100%;">
       <ul class="menu">
          <li id="dashboardMenu" class="active menuList">dashboardMenu
          </li>
          <li id ="menuList">Rates
            <span style="float:right"><strong>+</strong>
            </span>
          </li>
      </ul>
    </div>

    <div class="col-xs-10 col-sm-10 col-md10-col-lg-10">
        <div class="col-sm-4">
            <div class="row1">
            <div class="col-sm-6">
                  <div id="chartdata">
                    Value
                  </div>
            </div>
            <div class="col-sm-6">
                  <div id="chart4div" [style.width.%]="100" [style.height.px]="200"></div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="row1">
            <div class="col-sm-6">
                  <div id="chartdata">
                    Chart Values Here Will be Here
                  </div>
            </div>
            <div class="col-sm-6">
                  <div id="chart5div" [style.width.%]="100" [style.height.px]="200"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row1">
          <div class="col-sm-6">
                <div id="chartdata">
                  Value
                </div>
          </div>
          <div class="col-sm-6">
                <div id="chart6div" [style.width.%]="100" [style.height.px]="200"></div>
          </div>
      </div>
        </div>
    </div>
